<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwappingScreens.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D3CB66E91EF1ABB90024726C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3CB66FD1EF1ABB90024726C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3CB67081EF1ABB90024726C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
